<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020447797202-4i9ubr4mpikk9r0rnigufo88s5a8kltn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020447797202-4i9ubr4mpikk9r0rnigufo88s5a8kltn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1020447797202-ut6tui9rm7th0gcm2m0i43a5obedcil9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCL-BhqAJMVNH_mcuHbfEVOhbOx8qv4u_s</string>
	<key>GCM_SENDER_ID</key>
	<string>1020447797202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myMessenger</string>
	<key>PROJECT_ID</key>
	<string>first-vapas</string>
	<key>STORAGE_BUCKET</key>
	<string>first-vapas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020447797202:ios:fc7009941197c8445ee20b</string>
</dict>
</plist>